/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
* {
  text-align: center;
  font-family: 'Caveat';
  font-size: xx-large;
}

body {
  background-color: black;
  color: #f7022a;
}
.choices {
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scores {
  display: flex;
  gap: 50px;
  justify-content: center;
}

#playerScore, #computerScore {
  border: 3px solid #f7022a;
  height: 100px;
  width: 200px;
  font-size: 50px;
  padding-top: 10px;
  text-align: center;
}

#results {
  border: 3px solid #f7022a;
  height: auto;
  width: 400px;
}

.scoreText {
  margin: 0;
}

button, input {
  border-radius: 0;
  color: #f7022a;
  background-color: black;
  width: 100px;
  border-color: #f7022a;
}

button:hover, input:hover {
  background-color: white;
}

button:disabled {
  background-color: black;
}

input {
  width: 300px;
}

@media all and (max-width:600px) {
  img {
    width: 430px;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
